services:
  react:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: react-ts-dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true